.searchContainer {
  margin-bottom: 22px;
  width: 100%;
}

.searchInput {
  width: 100%;
  padding: 13px 15px;
  font-size: 16px;
  border: 1.3px solid #e4e7ed;
  border-radius: 6px;
  outline: none;
  background: #fafbfc;
  color: #222a36;
  transition: border-color 0.19s;
}

.searchInput:focus {
  border-color: #4754da;
}

.searchInput::placeholder {
  color: #adb5bd;
}
